@import "../../../../../../sinaflixx/sinaflixx/src/components/movies/movies";

.images {
  background-color: black;
}

.images-container {
  @extend .movies-container;
  padding: 0.8rem !important;

  span {
    color: dimgray;
    font-size: 15px;
  }
}
.movies-title{
  button{
    padding: 0.4rem 0.8rem;
  }
}
.images-list {
  @extend .movies-list;

  img {
    width: 480px !important;
  }
}

@media (max-width: 768px) {
  span {
    font-size: 13px !important;
  }
  .movies-title{
    button{
      padding: 0.3rem 0.3rem !important;
      font-size: 16px !important;
    }
  }

  .images-list {
    img {
      width: 360px !important;
    }
  }
}